---
---

$header-heading-color: #fff;
$header-bg-color: #058488;
$header-bg-color-secondary: #052049;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');


header {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: large;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
